<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Django girls</title>
</head>
<body>
    <div class="header">
        <h1><a href="/">Blog Django Girls</a></h1>
    </div>

    <div class="main">
        <p>publicado: 19.03.2025, 1:59 PM</p>
        <h2><a href="">Meu primeiro post</a></h2>
        <p>Testando meu primeiro post no blog feito com Django, framework de desenvolvimento web</p>
    </div>

    <div class="main">
        <p>publicado: 19.03.2025, 2:01 PM</p>
        <h2><a href="">Meu segundo post</a></h2>
        <p>Testando meu primeiro post no blog feito com Django, framework de desenvolvimento web</p>
    </div>
</body>
</html>